html {

    font-size: 100%;
    margin: 0; padding: 0;
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Requiem Display A", "Requiem Display B";
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1.5rem;
    position: relative;
    z-index: 2;
}

.tagline {

    font-family: "Fell Type A", "Fell Type B";
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    font-style: italic;
    position: relative;
    z-index: 2;
}


.sphere {

    width: 60vh;
    height: 60vh;
    border-radius: 100%;
    background: rgb(219,232,7);
    background: linear-gradient(90deg, rgba(219,232,7,1) 0%, rgba(255,0,0,1) 93%);
    margin: 3rem 0;

}

.blocks {

    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem 0 6rem 0;
}

.blocks > div {

    width : calc(50% - 14rem);

    min-height: 16rem;
    text-align: center;
    margin-bottom: 3rem;
    padding: 0 3rem;
}


h2 {

    font-family: "Requiem Display A", "Requiem Display B";
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
}

h3 {
    font-family: "Requiem Display A", "Requiem Display B";
    font-style: normal;
    font-weight: 400;
    font-size: 3.4rem;
    /*font-variant: small-caps;*/
    letter-spacing: 2px;
    /*text-transform: uppercase;*/
    margin: 0 0 .5rem 0;
    padding: 0;
}

p {
    margin-top: 0;
}

.blocks > div span {
    font-family: "Fell Type A", "Fell Type B";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
}

.text {

    font-family: "Fell Type A", "Fell Type B";
    font-style: normal;
    font-weight: 400;
    max-width: 48rem;
    font-size: 1.5rem;
}

ul.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.menu > li {
    padding: 0 2rem;
    font-family: "Fell Type A", "Fell Type B";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
}


section.showcase {

    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -20vh;
    margin-bottom: -20vh;
}


div.showcase_wrapper {

    position: relative;
    width: 200vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 0vw;
    transition: all 500ms ease-in-out;
    margin-left: 0vw;
}

div.showcase_wrapper.grid_view {

    margin-left: -100vw;
}



section.showcase > div.showcase_wrapper > div {

     width: 100vw;
     height: 100vh;

 }

/*section.showcase > div.showcase_wrapper > div:nth-of-type(2) {*/

    /*left: 100vw;*/
/*}*/

div.system {

    position: relative;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transform-style: preserve-3d;
    transform: rotateX(-75deg);

}

#sun {

    position: relative;

    height: 128vh;
    width: 128vh;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(219,232,0,1) 0%, rgba(255,162,7,1) 100%);
    transform: rotateX(0deg);
    transform: rotateY(-70.5deg);
    z-index: 99;
    transform-style: preserve-3d;

}

.satelite {
    position: absolute;
    top: 30vh;
    left: calc(50% - 20vh);
    height: 40vh;
    width: 40vh;
    border: 1px solid white;
    overflow: visible;
    transform-style: preserve-3d;
    border-radius: 50%;
    animation-name: orbit;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 11s;
    transition-duration: .8s;
    transition-timing-function: ease-in-out;
    z-index: 100;
    /*transform: rotateX(0deg);*/

}

.satelite div {

    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(219,232,7,1) 0%, rgba(255,162,0,1) 93%);
    /*z-index: 100;*/
    transform: rotateX(0deg);

}

#satelite_1 div {

    top: -1rem;
    left: calc(50% - 1rem);
    right: -1rem;
}

#satelite_2 div {

    top: calc(50% - 1rem);
    right: -1rem;
}

#satelite_3 div {

    left: calc(50% - 1rem);
    bottom: -1rem;
}

#satelite_4 div {

    top: calc(50% - 1rem);
    left: -1rem;
}


div.grid {

    width: 100vh;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
    grid-gap: 1rem;
    margin: 0rem auto 0rem auto;
    transform: rotate(-90deg);

}

div.grid > span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(#333 0%,#000 90%, #fff 100%);
    border-radius: 50%;
    z-index: 1;
    transform: scale(1.1);
}

div.grid  a {

    position: relative;
    display: block;
    z-index: 2;
    width: auto;
    height: auto;
    border-radius: 100%;
    background: rgb(219,232,7);
    background: linear-gradient(180deg, rgba(219,232,7,1) 0%, rgba(255,0,0,1) 93%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 250ms ease;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

div.grid  a.has_owner {

    background: linear-gradient(180deg, rgba(0,116,255,1) 0%, rgba(0,40,90,1) 93%);
}

div.grid  a:hover {
    transform: scale(2);
    z-index: 3;
}

div.grid  a > span {

    font-size: 2rem;
    font-family: "Fell Type A", "Fell Type B";
    font-style: normal;
    font-weight: 400;
    color: black;
    transform: rotate(90deg);

}

div.grid a.has_owner span {

    color: white;
}

div.grid  a:nth-of-type(1) {

    grid-column: 8 / span 2;
    grid-row: 1 / span 2;
}

div.grid  a:nth-of-type(2) {

    grid-column: 7 / span 2;
    grid-row: 3 / span 2;
}

div.grid  a:nth-of-type(3) {

    grid-column: 9 / span 2;
    grid-row: 3 / span 2;
}

div.grid  a:nth-of-type(4) {

    grid-column: 8 / span 2;
    grid-row: 5 / span 2;
}

div.grid  a:nth-of-type(5) {

    grid-column: 6 / span 2;
    grid-row: 5 / span 2;
}

div.grid  a:nth-of-type(6) {

    grid-column: 10 / span 2;
    grid-row: 5 / span 2;
}

div.grid  a:nth-of-type(7) {

    grid-column: 5 / span 2;
    grid-row: 7 / span 2;
}

div.grid  a:nth-of-type(8) {

    grid-column: 7 / span 2;
    grid-row: 7 / span 2;
}

div.grid  a:nth-of-type(9) {

    grid-column: 9 / span 2;
    grid-row: 7 / span 2;
}

div.grid  a:nth-of-type(10) {

    grid-column: 11 / span 2;
    grid-row: 7 / span 2;
}

div.grid  a:nth-of-type(11) {

    grid-column: 8 / span 2;
    grid-row: 9 / span 2;
}


div.grid  a:nth-of-type(12) {

    grid-column: 5 / span 2;
    grid-row: 11 / span 2;
}

div.grid  a:nth-of-type(13) {

    grid-column: 7 / span 2;
    grid-row: 11 / span 2;
}

div.grid  a:nth-of-type(14) {

    grid-column: 9 / span 2;
    grid-row: 11 / span 2;
}

div.grid  a:nth-of-type(15) {

    grid-column: 11 / span 2;
    grid-row: 11 / span 2;
}

div.grid  a:nth-of-type(16) {

    grid-column: 8 / span 2;
    grid-row: 13 / span 2;
}

div.grid  a:nth-of-type(17) {

    grid-column: 6 / span 2;
    grid-row: 13 / span 2;
}

div.grid  a:nth-of-type(18) {

    grid-column: 10 / span 2;
    grid-row: 13 / span 2;
}

div.grid  a:nth-of-type(19) {

    grid-column: 7 / span 2;
    grid-row: 15 / span 2;
}

div.grid  a:nth-of-type(20) {

    grid-column: 9 / span 2;
    grid-row: 15 / span 2;
}

div.grid  a:nth-of-type(21) {

    grid-column: 8 / span 2;
    grid-row: 17 / span 2;
}

.showcase_controls {

    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.showcase_controls > div {

    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background: white;

}

.showcase_controls > div:first-of-type {

    margin-right: 1rem;
}

@keyframes orbit {
    0% {
        transform: rotateZ(0deg); }

    100% {
        transform: rotateZ(-360deg); }

}